@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 8px 30px;
    box-shadow: 2px 2px 15px #000;
    align-items: center;
}

.logo {
    width: 50px;
}

.logo-box {
    display: flex;
    align-items: center;
    margin: 5px 15px 5px 5px
}

#links {
    display: flex;
    gap: 15px;
}

.button-link {
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    border: 0.5px solid rgb(181, 63, 63);
    color: rgb(181, 63, 63);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
    width: 110px;
    text-align: center;
    text-decoration: none;
}

.button-link:hover {
    background: rgb(181, 63, 63);
    color: #fff;
}

#title {
    margin-left: 10px;
    font-size: 25px;
    color: rgb(181, 63, 63);
}

#subtitle {
    font-size: 35px;
    color: rgb(181, 63, 63);
    margin-bottom: 20px;
}

#lorem {
    margin-bottom: 20px;
}

#content-two {
    margin-left: 100px;
}

.container-button {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main {
    display: flex;
    margin: 10px;
    padding: 30px;
    align-items: center;
}

#content {
    margin-top: 80px;
    margin-left: 30px;
    max-width: 500px;
}

input {
    width: 250px;
    padding: 10px;
    border: 1px solid #b8aeae;
    border-radius: 50px;

}

ul {
    list-style: none;
    display: grid;
    /*aqui podemos definir quantas linhas e colunas desejamos ter no layout*/
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
    gap: 20px;
}

li {
    border: 1px solid rgb(221, 191, 171);
    border-radius: 5px;
    padding: 5px;
}

img {
    width: 100%;
    /* ocupa 100% do espaço disponivel a ela*/
    height: 65%;
    border-radius: 5px;
}

p {
    color: #fff;
}

.item-price {
    font-weight: bold;
    color: rgb(181, 63, 63);
}

.showValueAll {
    margin-top: 20px;
    font-weight: bold;
    color: rgb(181, 63, 63);
}

@media screen and (max-width: 1000px) {

    header, main {
        display: block;
    }

    .logo-box, #links{
        justify-content: center;
        margin: 10px;
    }

    #content {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 40px;
    }

    #content-two {
        display: block;
        margin: 0 auto;
    }
}